run = ["python", "main.py"]
modules = ["python-3.10"]

[nix]
channel = "stable-23_05"

[deployment]
run = ["python", "main.py"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 80
externalPort = 80
